name: MyWorkFlow

on: [workflow_dispatch]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Push ARM template to Template Spec
      run: |
        az ts create --name storageSpec \
        --resource-group tak-tempspec-bicep-test \
        --location "japaneast" \
        --template-file ./main.bicep \
        --version 1.0.0 \
        
      

   
